[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
uvicorn = "*"
fastapi = "*"
aiofiles = "*"
python-multipart = "*"
asyncpg = "*"
pytest = "*"
pytest-asyncio = "*"
tensorflow = "*"
tensorflow-hub = "*"
opencv-python = "*"
pillow = "*"
matplotlib = "*"
google-cloud-speech = "*"
ffmpeg-python = "*"
google-cloud-texttospeech = "*"
pandas = "*"

[requires]
python_version = "3.8"
